.home-product-item-image {
    width: 20vh;
    height: 20vh;
}
.home-product-item-container {
    margin-top: 3vh;
    padding-top: 3vh;
    height: 30vh;
    width: 22vh;
    border-left: 0.1vh solid rgb(200,200,200);
    border-right: 0.1vh solid rgb(200,200,200);
    display: flex;
    flex-direction: column;
}
.home-product-item-container + .home-product-item-container {
    margin-left: 0.5rem;
}
.home-product-item-container:hover {
    cursor: pointer;
}
.home-product-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-product-item-text-container {
    font-size: 1.5vh;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-product-item-price {
    color: #8ddc25;
}